# UCF Data Analytics Bootcamp
## Final Project: Mental Health Prediction

For employment data we selected the following source:

https://data.bls.gov/cew/data/files/2020/csv/2020_annual_by_area.zip

The data describes the Quarterly Census of Employment and Wages (QCEW) at a FIPS code (county) level for the year 2020.  However, there are a few issues with the current file that don't allow it to be readily used for machine learning:

In [1]:
import pandas as pd

In [4]:
base_df = pd.read_csv('../empdata/2020.annual.singlefile.csv')
base_df.head()

C:\Users\ryann\AppData\Local\Temp\ipykernel_20228\118020660.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  base_df = pd.read_csv('../data/2020.annual.singlefile.csv')

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,annual_avg_estabs,annual_avg_emplvl,...,oty_total_annual_wages_chg,oty_total_annual_wages_pct_chg,oty_taxable_annual_wages_chg,oty_taxable_annual_wages_pct_chg,oty_annual_contributions_chg,oty_annual_contributions_pct_chg,oty_annual_avg_wkly_wage_chg,oty_annual_avg_wkly_wage_pct_chg,oty_avg_annual_pay_chg,oty_avg_annual_pay_pct_chg
0,1000,0,10,50,0,2020,A,NaN,132126,1909145,...,2507023243,2.6,-275546557,-1.7,-17501048,-9.0,65,6.9,3371,6.9
1,1000,1,10,51,0,2020,A,NaN,1250,55888,...,239488772,5.2,0,0.0,0,0.0,29,1.8,1508,1.8
2,1000,1,102,52,0,2020,A,NaN,1250,55888,...,239488772,5.2,0,0.0,0,0.0,29,1.8,1508,1.8
3,1000,1,1021,53,0,2020,A,NaN,617,11193,...,42231595,5.8,0,0.0,0,0.0,64,5.0,3336,5.1
4,1000,1,1022,53,0,2020,A,NaN,2,11,...,24145,7.7,0,0.0,0,0.0,68,12.7,3539,12.7

In [5]:
base_df.industry_code.unique()

array(['10', '102', '1021', ..., '111930', '212324', '212392'],
      dtype=object)

This table breaks down employment by industry codes. We will need to import a table that converts the industry code to text so we know what jobs we are working with.

In [6]:
naics_df = pd.read_csv('../empdata/naics.csv')
naics_df.head

<bound method NDFrame.head of       level    code                                               name notes
0         2      11         Agriculture, Forestry, Fishing and Hunting   NaN
1         3     111                                    Crop Production   NaN
2         4    1111                          Oilseed and Grain Farming   NaN
3         5   11111                                    Soybean Farming   NaN
4         6  111110                                    Soybean Farming   NaN
...     ...     ...                                                ...   ...
2070      6  914110                   Aboriginal Public Administration   CAN
2071      3     919  International and Other Extra-Territorial Publ...   CAN
2072      4    9191  International and Other Extra-Territorial Publ...   CAN
2073      5   91911  International and Other Extra-Territorial Publ...   CAN
2074      6  919110  International and Other Extra-Territorial Publ...   CAN

[2075 rows x 4 columns]>

In [8]:
base_df.area_fips.nunique()

4430