# UCF Data Analytics Bootcamp
## Final Project: Mental Health Prediction

For employment data we selected the following source:

https://www.bls.gov/cew/downloadable-data-files.htm
https://data.bls.gov/cew/data/files/2020/csv/2020_annual_by_area.zip

The data describes the Quarterly Census of Employment and Wages (QCEW) at a FIPS code (county) level for the year 2020.  However, there are a few issues with the current file that don't allow it to be readily used for machine learning:

In [5]:
import pandas as pd

The base singlefile table 492Mb encompasing 136,904,842 data points. It logs 2020s wage data sorting by job category [industry code] and location [area fips]. While it covers more specific employment data by location and over the year (oty) changes in wages, for our purposes we only need the average salary for each category per area.

In [19]:
base_df = pd.read_csv('empdata/2020.annual.singlefile.csv')
base_df.tail()

C:\Users\ryann\AppData\Local\Temp\ipykernel_31004\2861328735.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  base_df = pd.read_csv('empdata/2020.annual.singlefile.csv')

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,annual_avg_estabs,annual_avg_emplvl,...,oty_total_annual_wages_chg,oty_total_annual_wages_pct_chg,oty_taxable_annual_wages_chg,oty_taxable_annual_wages_pct_chg,oty_annual_contributions_chg,oty_annual_contributions_pct_chg,oty_annual_avg_wkly_wage_chg,oty_annual_avg_wkly_wage_pct_chg,oty_avg_annual_pay_chg,oty_avg_annual_pay_pct_chg
3602755,US000,8,10,95,0,2020,A,NaN,302412,21163762,...,39901028476,3.1,-95245695,-0.3,-8793026,-4.4,68,6.0,3516,5.9
3602756,US000,9,10,94,0,2020,A,NaN,10426378,136175737,...,124351500307,1.5,-51272621069,-2.9,-3452466563,-10.6,93,8.2,4839,8.2
3602757,USCMS,0,10,92,0,2020,A,NaN,7525743,106280879,...,87827423556,1.3,-42225283621,-3.1,-2751281643,-10.6,99,8.4,5118,8.3
3602758,USMSA,0,10,91,0,2020,A,NaN,8472291,120199570,...,110506897751,1.4,-47498008565,-3.2,-3020745780,-10.6,97,8.3,5028,8.3
3602759,USNMS,0,10,93,0,2020,A,NaN,2015396,18904204,...,25990995082,2.7,-3774612504,-1.5,-431720783,-10.1,70,7.4,3645,7.4

In [7]:
base_df.industry_code.unique()

array(['10', '102', '1021', ..., '111930', '212324', '212392'],
      dtype=object)

This table breaks down employment by industry codes. We will need to import a table that converts the industry code to text so we know what jobs we are working with.

In [9]:
naics_df = pd.read_csv('empdata/naics.csv')
naics_df.head

<bound method NDFrame.head of       level    code                                               name notes
0         2      11         Agriculture, Forestry, Fishing and Hunting   NaN
1         3     111                                    Crop Production   NaN
2         4    1111                          Oilseed and Grain Farming   NaN
3         5   11111                                    Soybean Farming   NaN
4         6  111110                                    Soybean Farming   NaN
...     ...     ...                                                ...   ...
2070      6  914110                   Aboriginal Public Administration   CAN
2071      3     919  International and Other Extra-Territorial Publ...   CAN
2072      4    9191  International and Other Extra-Territorial Publ...   CAN
2073      5   91911  International and Other Extra-Territorial Publ...   CAN
2074      6  919110  International and Other Extra-Territorial Publ...   CAN

[2075 rows x 4 columns]>

In [10]:
base_df.area_fips.nunique()

4430

With the data narrowed to the desired perameters, a table with the employment salary data and a table with industry code descriptions are exported into their own csvs.

In [13]:
empdata_df = base_df.loc[:, ['area_fips','industry_code','total_annual_wages']]
empdata_df.to_csv('Employment_measures.csv', index=False)

In [16]:
industry_codes_df = naics_df.loc[:,['code','name']]
industry_codes_df = industry_codes_df.rename(columns={'code':'industry_code'})
industry_codes_df.to_csv('industry_codes.csv', index=False)

object